.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    line-height: 1.5;
    background: #595959;
    color: #fff;
    font-family: sans-serif;
    width: 100%;
    margin-top: 20px;
}

.footer li {
    margin-top: 10px;
}