* {
    margin: 0;
    padding: 0;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    align-items: center;
}

.space-betw {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-15 {
    margin-top: 15px;
}

.text-style {
    font-size: 14px;
    font-family: sans-serif;
}

.mar-left-25 {
    margin-left: 25px;
}

ul li {
    list-style: none;
}

ul li a {
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
}

@media only screen and (max-width: 579px) {
    .space-evenly {
        align-items: center;
        justify-content: center;
        bottom: 0;
        margin-top: 10px;
        padding: 10px;
    }
}